{% load admin_static %}{% load url from future %}{% load i18n grp_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% static "table.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "table-print.css" %}" rel="stylesheet" type="text/css" media="print" />
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- JAVASCRIPTS -->
    {% block javascripts %}
    {% endblock %}
    <!-- EXTRAHEAD -->
    {% block extrahead %}{% endblock %}
</head>
<body class="{% if is_popup %}grp-popup {% endif %}{% block bodyclass %}{% endblock %}{% if LANGUAGE_BIDI %} rtl{% endif %}">
    <div id="grp-container">
        
        {% block content %}{% endblock %}
        
        <!-- FOOTER -->
        {% block footer %}{% endblock %}

    </div>
</body>
</html>
